<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Recursos Informaticos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Administracion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Redes Sociales</a>
                <div class="dropdown-menu">
                    <!-- <a class="dropdown-item" href="#"></a> -->
                    <a class="dropdown-item" href="#">Grupo de Facebook</a>
                    <a class="dropdown-item" href="#">Grupo de Telegram</a>
                    <div class="dropdown-divider"></div>
                    <!-- <a class="dropdown-item" href="#">Separated link</a> -->
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="card bg-dark text-white">
    <img src="../assets/undraw_project_team_lc5a.svg" class="card-img" alt="fondo de overlay" height="300px">
    <div class="card-img-overlay">
        <h1 class="display-4">Recursos para Informaticos</h1>
        <p class="lead">La comunidad que tiene el fin de poder aportar conocimiento, cursos, libros a todos los apasionados por alguna tema de la informática, aprender, convivir sobre estos temas, si te gusta alguna tema, únete.</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
        <a class="btn btn-primary btn-lg" href="#" role="button">Unete a nuestra comunidad</a>

        <!-- <div class="jumbotron">
                  </div> -->
        <!-- <h5 class="card-title">Recursos para Informaticos</h5>
        <p class="card-text">La comunidad que tiene el fin de poder aportar conocimiento, cursos, libros a todos los apasionados por alguna tema de la informática, aprender, convivir sobre estos temas, si te gusta alguna tema, únete.</p> -->
        <!-- <p class="card-text">Last updated 3 mins ago</p> -->
    </div>
</div>